.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }
  
  .modal-content {
    width: 560px;
    max-width: 90%;
    height: 345px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-image {
    width: 100%;
    height: auto;
    max-height: 260px;  /* Define uma altura máxima para a imagem */
    object-fit: cover;  /* Redimensiona a imagem para preencher o espaço */
    border-radius: 10px;  /* Adiciona um canto arredondado à imagem */
    margin: 15px 50px 15px auto;
  }

 .modal-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .modal-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -4px;
  }
  
  .modal-form button:hover {
    background-color: #0056b3;
  }

  .btn-cadastrar {
    /* position:; */
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-cadastrar:hover {
    background-color: #0056b3;
  }
  