.slider-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
  }
  
  .circular-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit:cover;
    /* margin: 0 10px; */
  }
  
  .slick-dots {
    bottom: 10px;
  }
  
  /* .slick-dots li button:before {
    color: #865a5a;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ac0000;
  } */


  /* .slider-item {
    display: flex;
    justify-content: center;
  } */
  
  .slide-item-container {
    margin: 0 10px; /* Ajuste as margens conforme necessário */
  }
  
  